.taptitle {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(175deg, #56ab2f, #f9fff3);
  z-index: 999;
}
.scrollarea {
  background-color: rgb(250, 244, 244);
}
.search{
  width: 678rpx;
  margin-left: 24rpx;
  border: 1px solid #e4e4e4;
  height: 35px;
  line-height: 35px;
  padding: 0 0 0 10px;
  border-radius: 70rpx;
  color: #f5f3f3;
  background-color: #fff;
  position: absolute;
  bottom: 5px;
}
.swiper{
  width: 702rpx;
  height: 330rpx;
  margin: 24rpx 0 0 24rpx;
  border-radius: 100rpx;
  background-size: cover;
  background-position: center;
  border-radius: 20rpx;
  overflow: hidden;
}
.swiper image{
  width: 702rpx;
  height: 330rpx;
  border-radius: 20rpx;
  background-size: cover;
  background-position: center;
}
.fenlei{
  width: 702rpx;
  margin: 24rpx 0 0 24rpx;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flss {
  border-radius: 36rpx;
  text-align: center;
  font-size: 28rpx;
  color: #585858;
}
.flss image{
  width: 125rpx;
  height: 125rpx;
  border-radius: 36rpx;
}
.sale {
  width: 702rpx;
  margin: 24rpx 0 0 24rpx;
  background-color: #ffffff;
  border-radius: 10rpx;
}
.sale-title {
  display: flex;
  justify-content: space-between;
  padding: 10rpx 10rpx;
  border-radius: 10rpx 10rpx 0 0 ;
  background: linear-gradient(180deg, #ecc9cc, #f9fff3);
}
.sale-title-two {
  color: #6b6b6b;
}
.sale-list {
  display: flex;
  width: 100%;
}
.sale-info {
  width: 150rpx;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 0 24rpx;
}
.sale-info image{
  width: 150rpx;
  height: 150rpx;
  margin: 14rpx 0;
}
.vip-price {
  color: red;
  font-size: 28rpx;
  background: #f3eaeb;
  border-radius: 50rpx;
  display: flex;
}
.vip-price view{
  background: red;
  color: #fff;
  font-size: 20rpx;
  border-radius: 0 50rpx 50rpx 0;
  padding: 0 5rpx;
  display: flex;
  align-items: center;
  line-height: 175%;

}
.org-price{
  text-decoration: line-through;
  color: #6b6b6b;
  font-size: 24rpx;
}
.pubu {
  width: 702rpx;
  margin: 24rpx 0 0 24rpx;
}
.pubu-info{
  background-color: #fff;
  border-radius: 15rpx;
}
.pubu-info image{
  width: 100%;
  border-radius: 15rpx;
}
.jieshao{
  font-weight: bold;
  margin: 0 10rpx;
}
.biaoqian{
  margin-left: 10rpx;
}
.biaoqian-list{
  display: flex;
  .biaoqian {
    color: #918e8e;
    font-size: 18rpx;
    margin: 10rpx;
    border-radius: 2rpx;
    
    padding: 2rpx 5rpx;
    border-radius: 7rpx;
  }
  .one{
    color: #F55726;
    border:1rpx solid #F55726;
  }
  .two{
    color: #40AE36;
    border:1rpx solid #40AE36;
  }
}

.price{
  margin: 0 10rpx 20rpx 10rpx;
  color: red;
  display: flex;
  justify-content: space-between;
  .left{
    .yang{
      font-size: 24rpx;
      color: red;
    }
    .feng{
      font-size: 24rpx;
      color: #918e8e;
    }
  }
  .right{
    image{
      width: 44rpx;
      height: 44rpx;
    }
    // .hongdian{
    //   width: 24rpx;
    //   height: 24rpx;
    //   color: #ffffff;
    //   font-size: 14rpx;
    //   border-radius: 24rpx;
    //   background-color: #F55726;
    //   text-align: center;
    //   line-height: 24rpx;
    // }
  }
}