
.receive-coupon{
  background: linear-gradient(90deg, #f76e2c, #fd402a);
  // width: 702rpx;
  margin: 24rpx;
  padding: 12rpx;
  border-radius: 12rpx;
  .title{
    color: #fff;
    text{
      font-size: 24rpx;
    }
  }
  .coupon-list{
    margin-top: 12rpx;
    .sc-v{
      display: flex;
      .coupon-c{
        margin-right: 12rpx;
        .quan-price{
          border-radius: 6rpx;
          height: 60rpx;
          width: 150rpx;
          line-height: 60rpx;
          background-color: #ffffff;
          color: #f74a35;
          font-size: 16rpx;
          text-align: center;
          text{
            font-size: 32rpx;
            font-weight: bold;
          }
        }
        .man {
          border-top: 1rpx dashed #f76e2c;
          border-radius: 6rpx;
          background-color: #ffff;
          height: 30rpx;
          line-height: 30rpx;
          width: 150rpx;
          font-size: 18rpx;
          color: #ca9597;
          text-align: center;
        }
      }
    }
    
    
  }
  .go-use{
    background-color: #f9e7b0;
    width: 300rpx;
    border-radius: 100rpx;
    margin: 24rpx auto 12rpx;
    text-align: center;
    padding: 12rpx 0;
    color: #fa4d39;
    animation: growShrink 1.1s infinite;/* 动画名称，持续时间，和重复次数 */
  }
}
@keyframes growShrink {
  0% {
    transform: scale(1); /* 动画开始时元素的大小 */
  }
  50% {
    transform: scale(0.9); /* 动画中间时元素缩小到一半大小 */
  }
  100% {
    transform: scale(1); /* 动画结束时元素恢复到原始大小 */
  }
}
.taptitle {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(175deg, #56ab2f, #f9fff3);
  z-index: 999;
  .zzz{
    position: absolute;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 24rpx;
    image{
      width: 42rpx;
      height: 42rpx;
      margin-left: 24rpx;
    }
    .wz{
      margin: 0 14rpx;
      font-size: 24rpx;
      font-weight: bold;
      overflow: hidden; 
      white-space: nowrap; 
      text-overflow: ellipsis;
      max-width: 200rpx;
    }
    .zd{
      // margin: 0 14rpx;
    }

    .arrow-bottom {
      width: 0;   
      height: 0;   
      border-left: 5px solid transparent;  /* 左边框的宽 */  
      border-right: 5px solid transparent; /* 右边框的宽 */  
      border-top: 5px solid #ffffff; /* 下边框的长度|高,以及背景色 */  
      font-size: 0;  
      line-height: 0; 
    }

  }
}
.scrollarea {
  background-color: rgb(250, 244, 244);
}
.search{
  width: 678rpx;
  margin-left: 24rpx;
  border: 1px solid #e4e4e4;
  height: 35px;
  line-height: 35px;
  padding: 0 0 0 10px;
  border-radius: 70rpx;
  color: #f5f3f3;
  background-color: #fff;
  position: absolute;
  bottom: 5px;
}
.swiper{
  width: 702rpx;
  height: 330rpx;
  margin: 24rpx 0 0 24rpx;
  border-radius: 100rpx;
  background-size: cover;
  background-position: center;
  border-radius: 20rpx;
  overflow: hidden;
}
.swiper image{
  width: 702rpx;
  height: 330rpx;
  border-radius: 20rpx;
  background-size: cover;
  background-position: center;
}
.fenlei{
  width: 726rpx;
  margin: 24rpx 0 0 24rpx;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}
.flss {
  width: 121rpx;
  margin-right: 24rpx;
  border-radius: 36rpx;
  text-align: center;
  font-size: 28rpx;
  color: #585858;
}
.flss image{
  width: 125rpx;
  height: 125rpx;
  border-radius: 36rpx;
}
.sale {
  width: 702rpx;
  margin: 24rpx 0 0 24rpx;
  background-color: #ffffff;
  border-radius: 10rpx;
}
.sale-title {
  display: flex;
  justify-content: space-between;
  padding: 10rpx 10rpx;
  border-radius: 10rpx 10rpx 0 0 ;
  background: linear-gradient(180deg, #ecc9cc, #f9fff3);
}
.sale-title-two {
  color: #6b6b6b;
}
.sale-list {
  display: flex;
  width: 100%;
}
.sale-info {
  width: 150rpx;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 0 24rpx;
}
.sale-info image{
  width: 150rpx;
  height: 150rpx;
  margin: 14rpx 0;
}
.vip-price {
  color: red;
  font-size: 28rpx;
  background: #f3eaeb;
  border-radius: 50rpx;
  display: flex;
}
.vip-price view{
  background: red;
  color: #fff;
  font-size: 20rpx;
  border-radius: 0 50rpx 50rpx 0;
  padding: 0 5rpx;
  display: flex;
  align-items: center;
  line-height: 175%;

}
.org-price{
  text-decoration: line-through;
  color: #6b6b6b;
  font-size: 24rpx;
}
.pubu {
  width: 702rpx;
  margin: 24rpx 0 0 24rpx;
}
.pubu-info{
  background-color: #fff;
  border-radius: 15rpx;
}
.pubu-info image{
  width: 100%;
  border-radius: 15rpx;
}
.jieshao{
  font-weight: bold;
  margin: 0 10rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.vipprice{
  margin: 10rpx 0 0 10rpx;
  font-size: 24rpx;
}
.biaoqian{
  margin-left: 10rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 24rpx;
}
.biaoqian-list{
  display: flex;
  .biaoqian {
    color: #918e8e;
    font-size: 18rpx;
    margin: 10rpx;
    border-radius: 2rpx;
    
    padding: 2rpx 5rpx;
    border-radius: 7rpx;
  }
  .one{
    color: #F55726;
    border:1rpx solid #F55726;
  }
  .two{
    color: #40AE36;
    border:1rpx solid #40AE36;
  }
}

.price{
  margin: 0 10rpx 20rpx 10rpx;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left{
    .yang{
      font-size: 24rpx;
      color: red;
    }
    .feng{
      font-size: 24rpx;
      color: #918e8e;
    }
  }
  .right{
    width: 44rpx;
    height: 44rpx;
    image{
      width: 44rpx;
      height: 44rpx;
    }
    // .hongdian{
    //   width: 24rpx;
    //   height: 24rpx;
    //   color: #ffffff;
    //   font-size: 14rpx;
    //   border-radius: 24rpx;
    //   background-color: #F55726;
    //   text-align: center;
    //   line-height: 24rpx;
    // }
  }
}