.box {
  background-color: rgb(247, 247, 247);
  padding-top: 24rpx;
  height: 1750rpx;
}
.shopchat {
  background-color: #ffffff;
  max-width: 702rpx;
  margin-left: 24rpx;
  border-radius: 14rpx;
  .shop{
    display: flex;
    align-items: center;
    padding: 24rpx 0;
    border-bottom: 1rpx solid #f3f1f1;
    .xuanz {
      width: 40rpx;
      height: 40rpx;
      margin: 0 24rpx;
    }
    .shopimage {
      width: 150rpx;
      height: 150rpx;
    }
    .shopinfo{
      // height: 150rpx;
      margin: 0 24rpx;
      width: 416rpx;
      max-height: 150rpx;
      .shopname{
        font-weight: 600;
      }
      .shopflag{
        display: flex;
        font-size: 24rpx;
        margin-top: 10rpx;
        
        .flag1{
          padding: 4rpx 10rpx;
          border-radius: 6rpx;
          border: 1rpx solid #F55726;
          color: #F55726;
          margin-right: 10rpx;
        }
        .flag2{
          padding: 4rpx 10rpx;
          border-radius: 6rpx;
          border: 1rpx solid #40AE36;
          color: #40AE36;
        }
      }
      .shopprice{
        margin-top: 10rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          font-size: 24rpx;
          color: #EA0000;
          .qian{
            font-size: 32rpx;
          }
          .fen{
            color: #888888;
          }
        }
        .right{
          // width: 200rpx;
          border: 1rpx solid #e4e4e4;
          border-radius: 50rpx;
          display: flex;
          padding: 4rpx 0rpx;
          .jian{
            font-weight: bold;
            padding: 0 24rpx;
          }
          input {
            width: 50rpx;
            text-align: center;
          }
          .jia{
            font-weight: bold;
            padding: 0 24rpx;
          }
        }
      }
    }
  }
}
.jiesuan {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100rpx;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 24rpx;
  .left {
    display: flex;
    align-items: center;
    .quan{
      width: 36rpx;
      height: 36rpx;
      border: 2rpx solid #e4e4e4;
      border-radius: 36rpx;
      margin-right: 24rpx;
    }
    .delete{
      margin-left: 24rpx;
      color: #EA0000;
    }
  }
  .right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 24rpx;
    .price{
      margin: 0 12rpx;
      color: #EA0000;
      font-size: 36rpx;
    }
    .qjs{
      width: 150rpx;
      background-color: #40AE36;
      color: #ffffff;
      padding: 16rpx 30rpx;
      text-align: center;
      border-radius: 50rpx;
      margin-right: 24rpx;
    }
  }
}