 page{
  background-color: #f6f6f6;
 }
 .box{
   .title{
     display: flex;
     .title-left{
       display: flex;
       align-items: center;
       padding: 12rpx 24rpx;
       .wsy{
         font-size: 24rpx;
       }
       .ysy{
         margin-left: 24rpx;
         font-size: 18rpx;
         color: #838282;
       }
     }
   }
   .coulist{
     position: relative;
     width: 100%;
     .coupon{
       width: 702rpx;
       height: 200rpx;
       margin: 0 24rpx 24rpx 24rpx;
       background-color: #ffffff;
       display: flex;
       border-radius: 15rpx;
       .left{
          background-color: #fdc5c5;
          border-radius: 15rpx 0 0 15rpx;
          height: 100%;
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
         .price{
           text-align: center;
           font-size: 24rpx;
           color: #da1414;
           .jg{
             font-size: 48rpx;
             font-weight: bold;;
           }
         }
       }
       .right{
         width: 75%;
         height: 100%;
         display: flex;
         .coupon-det{
          width: 70%;
          padding-left: 14rpx;
          .one{
            font-weight: bold;
            margin-top: 24rpx;
          }
          .two{
            font-size:18rpx;
            margin-top: 14rpx;
          }
          .three{
            margin-top: 60rpx;
            font-size: 18rpx;
            color: rgb(182, 182, 182);
          }

         }
         .go-use{
           
           height: 50rpx;
           line-height: 50rpx;
           background-color: #d65012;
           color: #ffffff;
           padding: 0rpx 24rpx;
           text-align: center;
           border-radius: 50rpx;
           font-size: 24rpx;
           margin: auto 0;
         }
         .gray{
           background-color: #d9d9d9;
         }
       }
     }
     .mask{
       background-color: #ffffff;
       color: #b4b4b4;
       .left{
        background-color: #d9d9d9;
        .price{
          color: #b2b2b2;
        }
       }
     }
   }
 }