.box {
  height: 1750rpx;
  width: 750rpx;
  max-width: 750rpx;
  background-color: rgb(247, 247, 247);
  padding-top: 1rpx;
}
@mixin adr() {
  width: 654rpx;
  background-color: #ffffff;
  margin: 24rpx 0 0 24rpx;
  padding: 24rpx;
  border-radius: 12rpx;
}
.address {
  @include adr;
  .adr-info{
    display: flex;
    align-items: center;
    .dingwei {
      width: 30rpx;
      height: 36rpx;
      margin-right: 24rpx;
    }
    .fh-adr{
      width: 548rpx;
     
      .name{
        color: #888888;
      }
    }
    .jiantou {
      margin-left:24rpx;
      width: 36rpx;
      height: 36rpx;
      transform: rotate(270deg);
    }
  }
  .complete-time{
    border-top: 1rpx solid #e4e4e4;
    margin-top: 24rpx;
    padding: 24rpx 0 0 0;
    display: flex;
    justify-content: space-between;
    .name{
      font-size: 24rpx;
    }
    .time{
      color: #40AE36;
      font-size: 24rpx;
    }
  }

}
.shoplist {
  @include adr;
  .title {
    font-size: 24rpx;
    display: flex;
    justify-content: space-between;
    .acc{
      color: #40AE36;
    }
  }
  .list {
    margin-top: 24rpx;
    .list-item {
      display: flex;
      margin-bottom: 12rpx;
      .item-image{
        width: 150rpx;
        height: 150rpx;
      }
      .item-info{
        margin-left: 24rpx;
        width: 500rpx;
        line-height: 48rpx;
        .name {
          display: flex;
          justify-content: space-between;
        }
        .guige {
          color: #888888;
          font-size: 26rpx;
        }
        .num {
          color: #888888;
          font-size: 26rpx;
        }
      }
    }
  }
}
.qita {
  font-size: 24rpx;
  @include adr;
  .yhq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .quan{
      display: flex;
      align-items: center;
      text{
        color: #BBBBBB;
      }
      image{
				margin-left: 12rpx;
        width: 36rpx;
        height: 36rpx;
        transform: rotate(270deg);
      }
    }
  }
  .paytype{
    margin-top: 24rpx;
    display: flex;
    justify-content: space-between;
    border-top: 1rpx solid #e4e4e4;
    padding: 24rpx 0 0 0;
  }
  .goutong{
    margin-top: 24rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1rpx solid #e4e4e4;
    padding: 24rpx 0 0 0;
    switch{
      zoom: .6;
    }
  }
  .didian{
    background-color: #f6f6f6;
    padding: 10rpx 10rpx 0 10rpx;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12rpx;
    .zx{
      background-color: #ffffff;
      color: #000000;
      padding: 5rpx 10rpx;
      width: max-content;
      border-radius: 5rpx;
      margin: 0 14rpx 14rpx 0;
    }
    .lv{
      background-color: #40AE36;
      color: #ffffff;
    }
  }
  .beizhu{
    margin-top: 24rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1rpx solid #e4e4e4;
    padding: 24rpx 0 0 0;
    input{
      width: 70%;
      text-align: right;
    }
  }
}
.baozhang{
  @include adr;
  .title{
    font-size: 24rpx;
    font-weight: bold;
    border-bottom: 1rpx solid #e4e4e4;
    padding-bottom: 12rpx;
  }
  .content{
    padding: 12rpx 0 0 0;
    font-size: 24rpx;
    .zs{
      font-weight: bold;;
    }
  }
}
.jiesuan {
  position: fixed;
  background-color: #ffffff;
  border-top: 1rpx solid #e4e4e4;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24rpx;
  padding: 12rpx 0;
  .price {
    text{
      margin: 0 24rpx 0 0;
      color: #EA0000;
      font-size: 36rpx;
    }
  }
  .qjs {
    width: 150rpx;
    background-color: #40AE36;
    color: #ffffff;
    padding: 24rpx 50rpx;
    text-align: center;
    border-radius: 50rpx;
    margin-right: 24rpx;
  }
}